/* ScrollNavbar.css */
.navbar {
  
  height: 190px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background: transparent; /* Initial background color */
  color: #E5BD7F;
  font-family: qersa;
  z-index: 10; /* Ensure content doesn't overflow outside the navbar */
  transition: background-color 0.5s ease;
}

.navbar:hover {
  background: #043A29;
  opacity: 1;
  transform: translateY(0);
}

.navbar-left,
.navbar-center,
.navbar-right {
  padding-bottom: 40px;
}

.navbar-left,
.navbar-right {
  margin-left: auto;
  margin-right: auto;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right a,
.navbar-right .cart-button {
  color: #E5BD7F;
  text-decoration: none;
  transition: transform 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-right a:hover,
.navbar-right .cart-button:hover {
  transform: scale(1.1);
}

.navbar-right svg {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.navbar-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.logo-container {
  max-width: 100%;
}

.logo-container img {
  width: 280px;
  max-width: 100%;
}

.navbar-links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
}

.navbar-links ul li {
  display: inline-block;
  list-style: none;
  margin: -10px 30px;
  margin-top: 40%;
  padding-right: 12px;
  align-items: center;
  margin-left: 1px;
}

.navbar-links ul li a {
  color: #E5BD7F;
  text-decoration: none;
  font-family: josefin;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.submenu-container {
  position: relative;
}

.submenu-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #043A29;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  left: -150px;
  top: 100%;
  width: 600px;
}

.submenu-container:hover .submenu-wrapper,
.submenu-wrapper:hover {
  pointer-events: auto;
  opacity: 1;
}

.navbar-links ul .submenu {
  margin: 30px 10px;
}

.navbar-links ul .submenu li {
  margin: 0;
  padding: 0;
}

.navbar-links ul .submenu li a {
  padding: 15px 20px;
  display: block;
  width: 100%;
}

.navbar-links a:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.search-bar {
  border: none;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  font-family: josefin;
}

.search-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: josefin;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
}

.search-button:hover {
  transform: scale(1.1);
}
/* ScrollNavbar.css */
.icon-button {
  background:none;
  border: none;
  cursor: pointer;
}
.icon{
  color: #E5BD7F;
  text-decoration: none;
  transition: transform 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}
.icon :hover{
  transform: scale(1.1);
}
