.navbar {
  height: 190px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background: transparent; /* Initial background color */
  color: #E5BD7F;
  font-family: qersa;
  z-index: 10; /* Ensure content doesn't overflow outside the navbar */
  transition: background-color 0.5s ease;
}

/* Apply the hover effect to the background color */
.navbar:hover {
  background: #043A29; /* Transparent background on hover */
}

/* Other styles remain the same */
.navbar-left,
.navbar-center,
.navbar-right {
  padding-bottom: 40px;
}

.navbar-left,
.navbar-right {
  margin-left: auto; /* Move to the right */
  margin-right: auto;  
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Add spacing between the icons */
}

.navbar-right a {
  color: #E5BD7F; /* Set the color of the icons */
  text-decoration: none;
  transition: transform 0.3s ease; /* Remove underline from the links */
}

.navbar-right a:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.navbar-right svg {
  width: 20px; /* Set the width of the icons */
  height: 20px; /* Set the height of the icons */
  padding: 5px; /* Add padding around the icons */
}

.navbar-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%; /* Set maximum width for center container */
}

.logo-container {
  max-width: 100%; /* Ensure the logo container doesn't exceed the width of the navbar */
}

.logo-container img {
  width: 280px; /* Set a specific width for the image */
  max-width: 100%; /* Ensure the image stays responsive */
}

.navbar-links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
}

.navbar-links ul li {
  display: inline-block;
  list-style: none;
  margin: -10px 30px;
  margin-top: 40%;
  padding-right: 12px;
  align-items: center;
  margin-left: 1px;
}

.navbar-links ul li a {
  color: #E5BD7F;
  text-decoration: none;
  font-family: josefin;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.submenu-container {
  position: relative;
}

.submenu-wrapper {
  display: flex;
  flex-direction: row; /* Ensure submenus are aligned in a row */
  position: absolute; /* Position the wrapper absolutely within the container */
  background-color: #043A29;
  border-radius: 10px; /* Add rounded edges */
  opacity: 0;
  
  pointer-events: none; 
  left: -300px;
  top: 100%; /* Position directly below the submenu-container */
  width: 800px;
}

.submenu-container:hover .submenu-wrapper,
.submenu-wrapper:hover {
  pointer-events: auto;
  opacity: 1;
}

.navbar-links ul .submenu {
  margin: 20px 30px; /* Add margin between submenus */
}

.navbar-links ul .submenu li {
  margin: 0;
  padding: 0;
}

.navbar-links ul .submenu li a {
  padding: 13px 20px;
  display: block; /* Ensure each link is a block element */
  width: 100%;
}

.navbar-links a:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.search-bar {
  border: none;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  font-family: josefin;
}

.search-button {
  display: flex; 
  align-items: center;  
  cursor: pointer;  
  font-size: 16px;  
  padding: 5px 10px;  
  border-radius: 5px;  
  font-size: 14px;
  font-family: josefin;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
  border: 2px solid transparent; /* Add transparent border */
}

.search-button:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.submenu-title {
  color: #E5BD7F; /* Set color for submenu titles */
  font-weight: bold; /* Make the titles bold */
  padding: 15px 20px; /* Add padding to the titles */
}


/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {

  .navbar {
    background: #043A29; /* Set background color for mobile */
  }

  .navbar:hover {
    background: #043A29; /* Keep background color on hover */
  }
  .navbar-links ul {
    margin-top: 50%; /* Increase space between links */
    position: relative;
    left: -5%;
    display: flex;
    justify-content: center; /* Center links horizontally */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allow links to wrap if necessary */
  }

  .navbar-links ul li {
    margin: 0; /* Remove top and bottom margin */
  }

  .navbar-links ul li a {
    font-size: 14px; /* Decrease font size for smaller screens */
  }

  .submenu-wrapper {
    position: fixed; /* Fixed position */
    top: 180px; /* Align to top */
    left: 0; /* Align to left */
    width: 100vw; /* Make submenu full viewport width */
    display: flex;
    justify-content: center; /* Center submenu horizontally */
  }

  
}

