@font-face {
  font-family: josefin;
  src: url('../../assets/fonts/JosefinSans.ttf');
}

@font-face {
  font-family: lux;
  src: url('../../assets/fonts/Voguella.ttf');
}

.picture-row {
  display: flex;
  flex-wrap: wrap; /* Allows for wrapping of items on smaller screens */
  justify-content: center; /* Centers the content */
  width: 100%; /* Changed to 100% for responsive layout */
  height: auto; /* Adjust height based on content */
  gap: 20px; /* Space between items */
  overflow: hidden; /* Prevent overflow */
  padding: 20px; /* Reduced padding for smaller screens */
  background-color: transparent;
  margin-top: 100px;
}

.pictureContainer:hover .text-container { /* Change here */
  opacity: 1;
}

.pictureContainer {
  position: relative;
  flex: 1;
  max-width: 25%; /* Allow four pictures in a row by default */
  transition: transform 1.5s ease;
}

.picture {
  animation: fadeIn 5s;
  display: block; /* Ensures all images have equal width */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.pictureContainer:hover {
  transform: scale(1.10);
  transition: transform 1.5s ease;
  z-index: 2;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.text {
  animation: fadeIn 5s;
  position: absolute;
  font-size: 3vw; /* Changed to viewport width units for responsiveness */
  font-family: lux;
  color: hsl(34, 71%, 85%);
  z-index: 2;
}

.overlay-text,
.overlay-text2,
.overlay-text3,
.overlay-text4 {
  /* top: 1%; */
  left: 10%;
  font-size: 3vw;
}

/* Shared text-container styles */
.text-container {
  position: relative;
  margin-top: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
  width: auto;
  height: auto;
}

.pictureContainer:hover .text-container {
  opacity: 1;
}

/* Media Queries */
@media (max-width: 1024px) {
  .pictureContainer {
    max-width: 33.33%; /* 3 items per row on medium screens */
  }

  .text-container1,
  .text-container2,
  .text-container3,
  .text-container4 {
    bottom: 5%;
    left: auto;
    right: 50%;
    
  }

  .text {
    font-size: 8vw; /* Adjust font size */
    
  }
}

@media (max-width: 768px) {
  .pictureContainer {
    max-width: 50%; /* 2 items per row on smaller screens */
  }

  .pictureContainer:hover {
    transform: none !important; /* Remove scaling effect */
  }

  .picture-row {
    padding: 10px; /* Less padding for smaller screens */
  }

  .text {
    font-size: 8vw; /* Further adjust font size */
  }

  .overlay-text,
  .overlay-text2,
  .overlay-text3,
  .overlay-text4 {
    top: 5%;
    left: 5%;
    font-size: 7vw; /* Adjust font size */
  }

  .text-container,
  .text-container2,
  .text-container3,
  .text-container4 {
    opacity: 1;
    bottom: 5%;
    left: 50% !important;
  }

  .text-container3{
    bottom: 20% !important;
    margin-bottom: 90% !important;
  }
  

  .Text-test {
    font-size: 1rem !important;
    width: max-content
  }
}

@media (max-width: 480px) {
  .pictureContainer {
    max-width: 100%; /* 1 item per row on very small screens */
  }

  .pictureContainer:hover {
    transform: none !important; /* Remove scaling effect */
  }

  .picture-row {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the content */
  }

  .text {
    font-size: 5vw; /* Further adjust font size */
  }

  .overlay-text,
  .overlay-text2,
  .overlay-text3,
  .overlay-text4 {
    top: 5%;
    left: 5%;
    font-size: 8vw; /* Further adjust font size */
  }

  .text-container,
  .text-container2,
  .text-container3,
  .text-container4 {
    bottom: 5%;
    left: 43% !important;
    font-size: 2vw;
    align-items: center;
    opacity: 1;
  }

  .text-container3{
    bottom: 20% !important;
    margin-bottom: 90% !important;
  }

  .Text-test {
    font-size: 1.5rem !important;
    width: max-content
  }
}
