body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body and html fill the entire viewport */
}

.footer {
  background-color: #043A29;
  color: #E5BD7F;
  padding: 40px 0;
  font-family: 'Josefin', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
  visibility: hidden; /* Initially hide the sections */
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s; /* Added transition for visibility */
}

.footer-section.visible {
  visibility: visible; /* Show the sections when visible class is added */
  opacity: 1;
  transition-delay: 0s; /* Remove delay for opacity transition */
}

.footer-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  text-align: center; /* Center list items */
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #E5BD7F;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-section p {
  margin: 5px 0;
  text-align: center;
}

.footer-section.subscribe h3,
.footer-section.subscribe span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.footer-section.subscribe form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer-section.subscribe .custom-input {
    width: 70%; /* Make input field full width */
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #195E47; /* Add custom background color */
    color: #E5BD7F !important; /* Add custom text color */
    font-size: 16px; /* Add custom font size */
  }

  .footer-section.subscribe .custom-input::placeholder {
    color: #E5BD7F; /* Set placeholder color */
  }
  
  

.footer-section.subscribe .submit-footer {
  background-color: #195E47;
  color: #E5BD7F;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}
.footer-section.subscribe form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the input field */
    margin-top: 10px;
  }

.footer-section.subscribe span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Center the span */
  }

.footer-section.subscribe .submit-footer:hover {
  transform: scale(1.05);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #e5bd7f;
  padding-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icon {
  color: #E5BD7F;
  font-size: 24px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .customization-container {
    max-width: 70%; /* Adjust max-width to 90% */
  }}