body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body and html fill the entire viewport */
}

.footer {
    background-color: #043A29;
    color: #E5BD7F;
    padding: 50px 0;
    font-family: josefin;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.inputField {
    width: calc(100% - 40px);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #E5BD7F; /* border color */
    background-color: #195E47; /* input field background color */
    color: #fff; /* input text color */
  }
  
  .inputField::placeholder {
    color: #E5BD7F; /* placeholder color */
  }

.footer-section.about.visible {
    transform: translate(60px, -20px);
}
.About-details {
    transform: translate(20px, -10px); /* Adjust these values as needed */
}

.Submit-footer{
    transition:transform 0.3s ease-in-out;
    border: 1px solid #E5BD7F;
}

.Submit-footer:hover {
    transform: scale(1.05); /* Adjust the scale factor as needed */
  }

.footer-section.visible {
    opacity: 1;
}

.footer-section.hidden {
    display: none;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section.newsletter input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.footer-section.newsletter button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.footer-bottom {
    background-color: #195E47;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}
