@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face {
  font-family: josefin;
  src: url('../../assets/fonts/JosefinSans.ttf');
}

.product {
  margin-top: 250px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-content {
  display: flex;
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
  align-items: flex-start;
  gap: 40px;
}

.product-images {
  height: 400px;
  width: 400px;
}

.product-image-main {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

/* .product-image-main:hover {
  transform: scale(1.05);
} */

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:transparent;
  padding: 10px 0;
}

.slider-image {
  animation: fadeIn 3s;
  width: 80px;
  height: auto;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.slider-image.active {
  opacity: 1;
}

.slider-arrows {
  display: none; /* Hide slider arrows on small screens */
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  height: 300px;
}

.product-page-details-top-contaier {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
}

.product-description {
  font-size: 16px;
}

.add-to-cart-button {
  background-color: #195E47;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5rem;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: transparent;
}

.ring-size {
  margin-top: 20px;
}

.ring-size-label {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.ring-size-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.ring-size-option {
  flex-grow: 1;
  background-color: #195E47;
  color: #fff;
  border: none; 
  padding: 20px 20px 20px 20px;
  cursor: pointer;
}

.ring-size-option.selected {
  opacity: 50%;
}

.ring-size-option:hover {
  transition: background-color 0.3s;
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  /* Apply styles for screens smaller than 768px */
  .slider-arrows {
    display: none; /* Hide slider arrows on small screens */
  }
}

.add-to-basket-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-to-basket-text {
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

.favorite-icon {
  cursor: pointer;
}

.product-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.you-may-also-like-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.you-may-also-like-products-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.similar-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100px;
  width: 100%;
}

.similar-products-image-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.similar-product-image {
  width: 100%;
  height: 100%;
}

.may-also-like-product-grid {
  gap: 40px;
  height: 440px;
  padding: 10px;
  max-height: fit-content;
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 80%;
}

.may-also-like-product-grid::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
